<ng-container *ngIf="patient$$ | async">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step label="Выбор поликлиники">
      <table mat-table [dataSource]="listLPU" class="mat-elevation-z8">

        <ng-container matColumnDef="nameLPU">
          <th mat-header-cell *matHeaderCellDef> Название </th>
          <td mat-cell *matCellDef="let element"> {{element.nameLPU}} </td>
        </ng-container>

        <ng-container matColumnDef="addressLPU">
          <th mat-header-cell *matHeaderCellDef> Адрес </th>
          <td mat-cell *matCellDef="let element"> {{element.addressLPU}} </td>
        </ng-container>

        <ng-container matColumnDef="openingHours">
          <th mat-header-cell *matHeaderCellDef> Часы работы </th>
          <td mat-cell *matCellDef="let element"> {{element.openingHours}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="item-list" (click)="selectLPU(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <app-yandex-map></app-yandex-map>
    </mat-step>
    <mat-step label="Выбор врача">
      <table mat-table [dataSource]="doctors" class="mat-elevation-z8">

        <ng-container matColumnDef="nameDoctor">
          <th mat-header-cell *matHeaderCellDef> ФИО </th>
          <td mat-cell *matCellDef="let element"> {{element.nameDoctor}} </td>
        </ng-container>

        <ng-container matColumnDef="specialization">
          <th mat-header-cell *matHeaderCellDef> Специальность </th>
          <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDoctor"></tr>
        <tr class="item-list" (click)="selectDoctor(row)" mat-row
          *matRowDef="let row; columns: displayedColumnsDoctor;"></tr>
      </table>
    </mat-step>
    <mat-step label="Выбор даты и время записи">
      <div>
        <app-calendare (selectedDate)="selectedDate($event)"></app-calendare>
        <app-time (choseTime)="setTime($event)"></app-time>

        <button mat-flat-button color="accent" [disabled]="!isDisable" (click)="createRecord()">Записаться</button>
      </div>
    </mat-step>
  </mat-stepper>
</ng-container>