.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.container-step-one {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.ymap {
    height: 100%;
    width: 50%;
}

.mat-elevation-z8 {
  width: 50%;
}

.item-list:hover {
  background-color: rgb(120, 209, 250);
}

.container-step-thri {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.conatainer-main-thri {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.error {
  display: flex;
  color: white;
  font-size: larger;
  position: absolute;
  height: 100px;
  width: 400px;
  opacity: 0.8;
  background-color: rgb(249 62 62);
  z-index: 1;
  bottom: 0px;
  right: 0px;
  align-items: center;

  .message-error {
    margin: 0 20px;
  }
}