@mixin size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
}

.container-duty {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 100px;
    justify-content: center;
    align-items: center;

    .container-duty_duty {
        @include size-container;
    }

    .container-duty_records {
        @include size-container;
    }
}

.records-card-header {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.container-duty_records-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
}

.record {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.record:last-child {
  border-bottom: none;
}

.record div {
  margin-bottom: 5px;
}

.record div:last-child {
  margin-bottom: 0;
}

.record-name-doctor {
  font-weight: bold;
  font-size: 1.2em;
}

.record-name-lpu,
.record-address-lpu,
.record-date {
  font-size: 1em;
  color: #555;
}

.record-date {
  background-color: rgba(78, 247, 106, 0.267) ;
  width: fit-content;
  font-style: italic;
  color: #888;
}

.record-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}